<div class="login-container">
  <form action="/login" method="post" role="form">
      <div>
        <label for="username">Username:</label>
        <input class="form-control" id="username" type="text" name="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input class="form-control" id="password" type="password" name="password">
      </div>
      <div>
        <input class="btn" type="submit" value="Login">
      </div>
  </form>
  <p>
    <a href="/signup">Create an Account &rarr;</a>
  <p>
</div>