body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  font-family: 'Yellowtail', cursive;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0;
}

header h2 {
  margin: 0;
}

a {
  color: #00B7FF;
}

.lifts {
  margin-top: 10px;
}
.lift {
  padding: 10px;
  color: white;
}

.lift .row * {
  text-align: center;
}

.lift button {
}

.liftName {

}

.container {
  overflow: hidden;
}