body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lift {
  height: 65px;
  background-color: cadetblue;
  padding: 22px;
  color: white;
}

.lift * {
  float: left;
  margin-left: 20px;
}

.lift button {
  margin-top: -7px;
}

.liftName {

}

.legend {
  position: fixed;
  top: 0;
  right: 0;
}

.container {
  overflow: hidden;
}